body {
    padding: 20px 50px;
    background-image: url('../images/background.jpg');
    color:wheat!important;
}

#CocaoLogo{
    width:110px;
    float:left;
}

#tUsed{
    padding-left: 16px;
}

#title{
    padding-top: 72px;
}